/* Podstawowe */
* {
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url(Fonts/material-symbol-rounded.woff2) format('woff2');
}

.m-icon-a {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    text-align-all: center;

    line-height: unset;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

main {
    padding: 2%;
}


.content {
    background: #292a2c;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    height: 750px;
}

.pogoda {
    z-index: 1;
    position: absolute;
    background-color: #1f2021;
    color: #e7dbd0;
    font-size: 2em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 40px;

    height: 70px;
    width: 100%;
    padding: 10px 20px;

}

.test {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 740px;
}

.horizontal-scroll-wrapper {
    background: #292a2c;
    position: absolute;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 90%;

    display: flex;
    height: 98%;
    justify-content: space-between;
    gap: 20px;
    margin-left: 5%;

}

.card {
    margin-top: 90px;
    position: relative;
    justify-content: space-between;

    height: 580px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    width: 100em;
    align-items: center;

    margin-bottom: 3%;
    margin-left: 3%;

    background-color: rgba(57, 55, 59, 0.85);
    color: #e7dbd0;
    border-radius: 40px;
    font-size: 1.9em;
    box-shadow: 0 0 20px rgba(0, 0, 12, 0.5), inset 0 0 5px rgba(26, 26, 26, 0.77);
}


.separator4 {
    background: #3f3f3f;
    width: 350px;
    height: 2px;
    margin-bottom: 10px;
}


.t1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow-left {
    text-align: left;
    margin-left: 15px;
    z-index: 1;
    width: 90px;
    height: 90px;
    border-radius: 90px;

    font-size: 5.5em;
    text-align-all: center;
    color: #fab437;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(36, 36, 40, 0.87), inset 0 0 2px rgb(117, 120, 126);
    cursor: pointer;
}

.arrow-left:hover {
    text-align: left;
    margin-left: 6px;
    width: 110px;
    height: 110px;
    border-radius: 110px;

    font-size: 6.5em;
    background-color: #fab437;
    color: #f1f1f0;
    transition: 0.2s;
    box-shadow: 0 0 10px rgba(36, 36, 40, 0.87), inset 0 0 2px rgb(117, 120, 126);
    cursor: pointer;
}


.arrow-right {
    text-align: right;
    margin-right: 15px;
    z-index: 1;
    width: 90px;
    height: 90px;
    border-radius: 90px;

    font-size: 5.5em;
    text-align-all: center;
    color: #fab437;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(36, 36, 40, 0.87), inset 0 0 2px rgb(117, 120, 126);
    cursor: pointer;
}

.arrow-right:hover {
    text-align: right;
    margin-right: 6px;
    width: 110px;
    height: 110px;
    border-radius: 110px;

    font-size: 6.5em;
    background-color: #fab437;
    color: #f1f1f0;
    transition: 0.2s;
    box-shadow: 0 0 10px rgba(36, 36, 40, 0.87), inset 0 0 2px rgb(117, 120, 126);
    cursor: pointer;
}


.search-btn {
    position: absolute;
}


::-webkit-scrollbar {
    width: 6px;
    height: 16px; /* for horizontal scrollbar */
    cursor: pointer;


}

::-webkit-scrollbar-thumb {
    background-color: #e7dbd0;
    border-radius: 50px;
    cursor: pointer;

}

::-webkit-scrollbar-track {
    border-radius: 50px;
    background-color: #303134;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;


}

.header.brigh {
    filter: brightness(50%);
    transition: 0.5s;
}

.container.brigh {
    filter: brightness(50%);
    transition: 0.5s;
}

/*ERROR*/
.error-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 8;
}

.err_nag {
    color: #fab437;
    font-size: 5em;
    font-weight: bold;
}

.err_con {
    color: white;
}

.error-content .btn-primary {
    margin-block-start: 20px;
}

@media (max-width: 750px) {

    .horizontal-scroll-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 75px;
        margin-left: 0px;
        overflow-y: scroll;
        width: 100%;
    }
    .pogoda_dzis{
        display: flex;
    }
    .arrow-left, .arrow-right{
        display: none;
    }
    .main{
        height: 100%;
        overflow-y: hidden;

    }
    .card{
        width: 93%;
        font-size: 100em;
    }
    .test{
        height: 100px;
    }
    .content{
        height: 1000px;
    }

    .pogoda_dzis{
        font-size: 1.5em;
    }

}





@media (max-width: 1920px) {
    .card {
        font-size: 1.5em;
    }
}

